/* General Page Attributes */
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #4aaaa5;
	background-image: url("../images/concrete_seamless.png");
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	line-height: 200%;
}

hr {
	color: #ddd;
	background-color: #ddd;
	border: none;
	height: 3px;
	margin-bottom: 20px;
}

a {
	text-decoration: none !important;
	color: #999;
}

p {

}

h1 {
	font-size: 30px;
	margin: 24px 0px;
}

h2 {

}

h3 {
	font-size: 22px;
}

h1, h2, h3 {
	color: #4aaaa5;
	font-weight: bold;
}

/* Header / Navigation */
header {
	background-color: #ffffff;
	max-height: 90px;
	padding: 45px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: solid #cccccc;
}

.name {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 29px 25px;
	font-size: 32px;
	font-weight: bold;
	top: 0;
	left: 50px;
}

nav {
	position: relative;
	display: inline;	
	font-size: 18px;
	padding: 10px;
	left: 700px;
	top: -15px;
}

/* Nav button animations */
.buttons {
	padding: 5px 10px;
}

.buttons:hover {
	background-color: #4aaaa5;
	color: #ffffff;
	box-shadow: 5px 5px 10px #888888;
}

.buttons:active {
	box-shadow: 2px 2px 10px #666;
	transform: translateY(4px);
}

section, aside {
	border: 2px solid #dddddd;
}

section {
	background-color: #ffffff;
	float: left;
	width: 650px;
	margin: 40px 20px 15px 50px;
	padding: 10px 30px 30px;
}


#portfolioPic {
	float: left;
	border-radius: 10px;
	margin: 0px 15px 15px 0px;
}

/* Portfolio Section */
.image {
	position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

.thumbnail {
	margin: 0px 0px 10px 0px;
	height: 200px;
	width: 270px;
}

.banner {
	color: white;
	font: bold 24px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: #4aaaa5;
	padding: 10px 5px;

	position: absolute;
	bottom: 35px;
	left: 0;
	width: 100%;
	font-size: 1.25em;
	text-align: center;
}

/* banner animations */
.banner:hover {
	box-shadow: 5px 5px 10px #888888;
	outline: 5px solid #4aaaa5;
 	outline-offset: 0px;
}

.banner:active {
	box-shadow: 2px 2px 10px #666;
	transform: translateY(4px);
}

/* Social Network Styling */
aside {
	background-color: #ffffff;
	float: left;
	width: 270px;
	margin: 40px 20px;
	text-align: center;
}

#connect {
	margin: 10px 30px 0px;
}

#connect h3 {
	margin: 0;
}

#connect hr {
	height: 2px;
}

.icon {
	height: 60px;
	width: 60px;
	margin: 5px 0px 25px;
}

.clear {
	clear: both;
}

/* Icon Animations */
.rotate:hover  {
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* Contact Form Styling */
label {
	font-size: 18px;
}

.input {
	font-size: 14px;
	color: #ccc;
	width: 100%;
	height: 30px;
	padding: 15px;
}

#message {
	height: 200px;
	border-color: #ddd;
}

#submit {
	background: #4aaaa5;
	color: #fff;
	height: 35px;
	width: 100px;
	border-style: none;
	font-size: 1em;
}

#submit:focus {
	outline: none;
}

/* Sticky Footer Styling */
.container {
	flex: 1;
}

footer {
	text-align: center;
	padding: 20px;
	background-color: #666666;
	color: #ffffff;
	font-size: .75em;
	border-top: solid thick #4aaaa5;
}

@media (max-width: 980px) {
	header {
		max-height: 60px;
	}

	.name {
		left: 90px;
		font-size: 24px;
	}

	nav {
		left: 565px;
	}

	section {
		width: 500px;
		margin-right: 15px;
		margin-left: 90px;
	}

	aside {
		margin-left: 15px;
	}

	/* Portfolio */
	.image {
		width: 420px;
		margin: 15px 0px;
		float: left;
	}

	.thumbnail {
		width: 420px;
		height: auto;
	}

	.banner {
		height: 60px;
		font-size: 32px;
	}
}

@media (max-width: 768px) {
	header {

	}

	.name {
		left: 15px;
	}

	nav {
		left: 425px;
	}

	section {
		width: 728px;
		margin: 30px 15px 15px;
	}

	aside {
		width: 728px;
		margin: 15px 15px;
		text-align: left;
	}

	/* Portfolio */
	.image {
		margin: 15px 0px;
		width: 315px;
	}

	section .image:nth-child(even) {
		margin-left: 32px;
	}

	.thumbnail {
		width: 315px;
		height: auto;
	}
}

@media (max-width: 640px) {

	header {
		margin-bottom: 75px;
		padding: 0px 0px;
		width: 640px;
	}

	.name {
		font-size: 32px;
		text-align: center;
		padding: 30px;
		width: 640px;
		left: 0;
	}

	section, aside {
		width: 610px;
	}

	nav {
		text-align: center;
		top: 90px;
		left: 0;
		display: block;
		background: #FFF;
		border-bottom: solid #ccc;
	}

	nav span {
		margin: 0px 50px;
	}

	/* Portfolio Page */
	.image {
		margin-top: 15px;
		margin-bottom: 15px;
		float: left;
		width: 550px;
	}

	section .image:nth-child(even) {
		margin-left: 0px;
	}

	.thumbnail {
		margin-left: 0px;
		width: 550px;
		height: auto;
	}
}